/* Saved colors */
:root {
    --shadow-color:rgb(45, 119, 230);
    --main-background:rgb(123, 176, 255);
}


*{
    margin:auto;
    padding:0;
    box-sizing: border-box;
}

/* Background color for page */
body{
    background-color: var(--main-background);
}

/* Styling for header */
.navbar{
    height: 80px;
    max-width:100vw;
    margin:0;
    background: linear-gradient(to top,rgb(7, 43, 161),rgb(29, 81, 253));
    box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-color);
}

/* Main container width */
main{
    max-width:1500px;
}

/* Background size for saved locations */
.weather-location{
    width:fit-content;
}

/* Centers row on page */
.row{
    margin:auto;
}

/* Button and saved location styling */
.submit,.saved{
    background-color: rgb(29, 81, 253);
    color:rgb(216, 225, 253);    
    transition: all 0.2s ease-in-out;
}
.saved{
    cursor: pointer;
    max-width: 300px;
    border:2px solid rgb(8, 44, 97);
}
.saved:hover,.submit:hover{
    background-color: rgb(57, 103, 253);
    color:white;
    transform: scale(1.05);
}

/* Styling for card containers holding weather data */
.card{
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow-color);
    background-color: rgb(199, 224, 241);
    border:3px solid rgb(25, 85, 175);
    min-width: 190px;
}

.current-weather .card-body{
    margin:0;
    padding:1rem 2rem;
}

.current-weather p,.current-weather h5{
    margin:0;
}

.future-weather p,.future-weather h4{
    margin:0;
    text-align: center;
}
